/*
//////////////////////////////////////////////////////////////////////////
/
/   Real Estate by Malav -  Style.css
/   developed by Malav Panchal
/   realtor.malav@gmail.com
/
/  This CSS file is being used by all the pages-
/  Home, About, Services, Contact
/
//////////////////////////////////////////////////////////////////////////
*/
/* ------------------Home page Elements------------------------- */
body {
  margin: 0;
  padding-top: 80px;
  text-align: center;
  font-family: 'PT Serif', serif;
  color: #40514e;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  color: #003260;
}

h2 {
  font-family: 'PT Serif', serif;
  color: #003260;
  font-size: 2.2rem;
  font-weight: bold;
}

h3 {
  font-family: 'PT Serif', serif;
  color: #003260;
  font-size: 1.5rem;
}

a {
  font-family: 'PT Serif', serif;
  color: #003260;
  font-size: 1.1em;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.nav-phone {
  font-size: 150%;
  font-weight: bolder;
}

.middle-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/wall.jpg");
  background-repeat: no-repeat;
  background-color: #eaf6f6;
  background-size: cover;
  padding-top: 20px;
}

.fixed-top {
  background-color: #fff;
}

/* ------------------Home page Elements------------------------- */
.contact-me-container {
  padding: 30px;
}

.index-meet-text {
  font-size: 1.8em;
  width: 100%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.maintxt {
  color: #fff;
  background: rgb(1, 1, 1);
  background: rgba(0, 0, 0, 0.4);
  padding: 14px;
  text-shadow: 1px 1px 10px #003260, 1px 1px 10px #ccc;
}

.profile {
  margin: 30px auto;
}

#address {
  font-size: 0.9em;
  text-align: center;
  padding-right: 30px;
}

#instagram {
  font-family: 'PT Serif', serif;
  display: block;
  font-size: 1.5em;
  width: 100%;
  text-align: left;
  color: #003260;
  text-decoration: none;
  padding-left: 20px;
}

#profile h2 {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  color: #003260;
  font-weight: bold;
  padding-top: 20px;
}

#social h2 {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  text-align: left;
  color: #003260;
  font-weight: bold;
  padding: 20px 0px 0px 20px;
  margin-bottom: 0px;
}

#explore_social {
  display: block;
  font-family: 'PT Serif', serif;
  font-size: 2em;
  text-align: center;
  color: #003260;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

.myButton {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Times New Roman;
  font-size: 21px;
  font-weight: 600;
  padding: 17px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.myButton:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/* ------------------About page Elements------------------------- */
.about-text {
  font-size: 1.1em;
  text-align: justify;
  margin-top: 1.5rem;
  font-weight: 500;
  padding: 0px 8px 0px 8px;
}

.about-page-middle-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/wall.jpg");
  background-repeat: no-repeat;
  background-color: #eaf6f6;
  background-size: cover;
  padding: 50px 0px 50px 0px;
}

.about-page-value-container {
  background-color: #918c8d;
  color: #fff;
}

.value-text {
  padding: 30px 40px;
  text-align: justify;
}

.value-heading {
  padding-top: 80px;
}

@media screen and (max-width: 375px) {
  #about-pic {
    width: 95vw;
  }
}

@media screen and (max-width: 828px) {
  .value-pic {
    width: 100vw;
  }

  #about-pic {
    width: 100vw;
  }
}

/* ------------------Services page Elements------------------------- */
.my-mission-container {
  position: relative;
  z-index: 1;
}

.my-mission-container .my-mission-container-bg {
  position: static;
  z-index: -1;
  background-image: url("../images/agreement.webp");
  background-size: cover;
  background-position: 0 50%;
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
  width: 100%;
  height: 30vh;
}

.my-mission-text {
  position: absolute;
  filter: brightness(200%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150%;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
}

.my-mission-text h2 {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
}

.services-pic-container {
  display: block;
  padding: 50px 20px;
  text-align: center;
}

.services-pic-container p {
  margin: auto;
  padding: 10px 0px 60px;
}

.buy-sell,
.lease,
.commercial,
.invest {
  max-width: 100%;
  height: auto;
  padding-top: 5px;
}

/* ------------------Contact Us page Elements------------------------- */
.contact-page-container img {
  max-width: 15%;
}

.top-buffer {
  margin-top: 40px;
}

.contact-page-container h1 {
  font-size: 3.5rem;
  padding-bottom: 20px;
}

.contact-page-container h3 {
  font-size: 2rem;
}

.contact-page-container .let-talk-24x7 {
  padding: 50px 20px;
}

.contact-page-container .fa {
  padding: 18px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  margin: 8px 8px;
  border-radius: 50%;
}

.contact-page-middle-container {
  padding: 30px 20px;
  background-color: #C0C0C0;
}

/* ---------------------Footer Elements------------------------------- */
.bottom-container {
  background-color: #003260;
  padding-top: 50px;
  padding-bottom: 10px;
}

.bottom-container hr {
  display: block;
  width: 90%;
  margin: auto;
  height: 2px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 30px auto;
  padding-top: 20px;
  margin-bottom: 0;
}

.fa {
  padding: 12px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin: 5px 8px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 11px 14px;
}

.fa-envelope {
  background: #4285F4;
  color: white;
}

.fa-mobile {
  background: #297F87;
  color: white;
  font-size: 140%;
  padding: 11px 14px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-instagram {
  background: #C13584;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-whatsapp {
  background: #25d366;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* ------------------Business_card Elements------------------------- */
.business-card {
  padding: 5px 10px 15px 10px;
}

.business-card img {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1.6%;
}

.business-card a {
  padding: 0px;
}

.btn-dark,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:visited {
  background-color: #003260 !important;
}

.bc-middle-container {
  padding: 0px 20px 0px 20px;
}

.bc-social-container {
  padding: 10px 20px;
}

.bc-about-me {
  padding: 0px 20px;
  text-align: justify;
  text-justify: auto;
}

.bc-button {
  font-size: 1em;
}

.title h2 {
  color: #fff;
  font-size: 2.5em;
}

.title p {
  color: #fff;
  font-size: 1.5em;
}

.bc-icon {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.bc-icon img {
  padding: 10px 30px;
  margin: -20px;
}

.modal-body {
  text-align: left;
}

.bc-big-save-contact-button {
  margin: 15px 0px 0px;
  padding: 10px 0px;
}

.bc-bottom-container {
  background-color: #003260;
}

.bc-review {
  padding: 10px 20px;
}

.btn-light,
.btn-light:hover {
  padding: 0px;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
  line-height: 3rem;
}

.review {
  width: 6rem;
}

.send-review {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.malav-logo {
  width: 190px;
}

.remax-logo {
  width: 15%;
}

@media screen and (max-width: 990px) {
  .remax-logo {
    width: 25%;
  }

  .malav-logo {
    width: 150px;
  }

}

@media screen and (max-width: 500px) {
  .remax-logo {
    width: 35%;
  }

  .malav-logo {
    width: 140px;
  }
}

.social-bar a {
  text-decoration: none;
}

.social-icon {
  padding-right: 20px;
  opacity: 0.8;
}

/* Buying_tips_html_elements */

.mid-container {
  margin-top: 3rem;
}

header.masthead {
  background-image: url("../images/CT_exterior_9_web.webp");
  position: relative;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
  text-align: left;
}

header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
}

header.index-banner:before {
  background-color: #212529;
  opacity: 0.1;
}

header.masthead .post-heading h1,
header.masthead .post-heading .h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2.25rem;
  color: #fff;
  line-height: 1.5;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  font-family: 'Open Sans',
    sans-serif;
  font-weight: 400;
  line-height: 1.1;
  display: block;
  color: #fff;
}

header.masthead .post-heading .subheading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.75rem 0 0.5rem 0;
}

header.masthead .post-heading .meta {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }


  header.masthead .post-heading h1,
  header.masthead .post-heading .h1 {
    font-family: 'Open Sans',
      sans-serif;
    font-weight: 800;
    font-size: 3.5rem;
  }

  header.masthead .post-heading .subheading {
    font-family: 'Open Sans',
      sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
  }
}

.blog-p {
  text-align: justify;
}

.blog-p h2 {
  margin: 3.5rem 0 1.5rem 0;
  text-align: left;
}

.blog-p p {
  font-size: 1.2rem;
}

.blog-p .caption {
  font-size: 0.875rem;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 0.625rem;
  text-align: center;
}

.stats {
  padding: 0px;
  margin: 0px;
}

.hubspot-link__container .sproket {
  display: none !important;
  color: red !important;
}