/*
//////////////////////////////////////////////////////////////////////////
/
/   Real Estate by Malav -  Style.css
/   developed by Malav Panchal
/   realtor.malav@gmail.com
/
/  This CSS file is being used by all the pages-
/  Home, About, Services, Contact
/
//////////////////////////////////////////////////////////////////////////
*/
/* ------------------Home page Elements------------------------- */
body {
  margin: 0;
  text-align: center;
  font-family: 'PT Serif', serif;
  color: #40514e;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  color: #003260;
}

h2 {
  font-family: 'PT Serif', serif;
  color: #003260;
  font-size: 2.2rem;
  font-weight: bold;
}

h3 {
  font-family: 'PT Serif', serif;
  color: #003260;
  font-size: 1.5rem;
}

a {
  font-family: 'PT Serif', serif;
  color: #003260;
  font-size: 1.1em;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.middle-container {
  background-image: url("../images/wall.jpg");
  background-repeat: no-repeat;
  background-color: #eaf6f6;
  background-size: cover;
  padding-top: 20px;
}

/* ------------------Home page Elements------------------------- */
.contact-me-container {
  padding: 30px;
}

.index-meet-text {
  font-size: 1.8em;
  width: 100%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.img-banner-fluid {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eaf6f6;
  background-attachment: fixed;
  max-width: 100%;
  max-height: 100%;
  height: 100vh;
  opacity: 0.8;
  padding: 50px;
}

.maintxt {
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  font-size: 4vw;
  background: rgb(1, 1, 1);
  background: rgba(0, 0, 0, 0.2);
  width: 45%;
  padding: 10px;
  text-shadow: 1px 1px 10px #003260, 1px 1px 10px #ccc;
}

.profile {
  margin: 30px auto;
}

#address {
  font-size: 0.9em;
  text-align: center;
  padding-right: 30px;
}

#instagram {
  font-family: 'PT Serif', serif;
  display: block;
  font-size: 1.5em;
  width: 100%;
  text-align: left;
  color: #003260;
  text-decoration: none;
  padding-left: 20px;
  padding-bottom: 20px;
}

#profile h2 {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  color: #003260;
  font-weight: bold;
  padding: 20px;
}

#social h2 {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  text-align: left;
  color: #bc2a8d;
  font-weight: bold;
  padding-left: 20px;
}

#explore_social {
  display: block;
  font-family: 'PT Serif', serif;
  font-size: 2em;
  text-align: center;
  color: #003260;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

@media screen and (max-width: 828px) {
  .img-banner-fluid {
    height: 70vh;
    background-position: 50% 50%;
  }
}

.myButton {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Times New Roman;
  font-size: 21px;
  font-weight: 600;
  padding: 17px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.myButton:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/* ------------------About page Elements------------------------- */
.about-text {
  font-size: 1.1em;
  text-align: justify;
  margin-top: 1.5rem;
  font-weight: 500;
  padding: 0px 8px 0px 8px;
}

.about-page-middle-container {
  background-image: url("../images/wall.jpg");
  background-repeat: no-repeat;
  background-color: #eaf6f6;
  background-size: cover;
  padding: 50px 0px 50px 0px;
}

.about-page-value-container {
  background-color: #918c8d;
  color: #fff;
}

.value-text {
  padding: 30px 40px;
  text-align: justify;
}

.value-heading {
  padding-top: 80px;
}

@media screen and (max-width: 828px) {
  .value-pic {
    width: 100vw;
  }
}

/* ------------------Services page Elements------------------------- */
.my-mission-container{
  background-image: url("../images/agreement.jpg");
  background-repeat: no-repeat;
  background-color: #eaf6f6;
  background-size: cover;
  width: 100%;
  height: 30vh;
  background-position: 0 50%;
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
  filter: brightness(50%);
  filter: brightness(50%);
}

.my-mission-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150%;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
  filter: none;
}

.my-mission-text > h2 {
  font-size: 2.5rem;
  color:#fff;
  filter: none;
}

/* ------------------Contact Us page Elements------------------------- */

/* ---------------------Footer Elements------------------------------- */
.bottom-container {
  background-color: #003260;
  padding-top: 50px;
  padding-bottom: 10px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 30px auto;
  padding-top: 20px;
  margin-bottom: 0;
}

.fa {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 8px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #C13584;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
